@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f3f7;
}
a {
  position: relative;
  display: inline-block;
  margin: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
}
.fill {
  color: #fff;  
  border-radius: 50%;  
  width: 50px;
  height: 50px;
  background: rgb(36, 115, 213);  
 display: flex;
 font-size: 28px;
  /* box-shadow: 0px 0px 4px rgba(36, 115, 213, 1); */
}
.fill span {
 margin:auto;
}

.fill:hover {
  /* background: rgb(6, 67, 141); */
  background: rgb(36, 115, 213);
  /* box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.5),
  inset 2px 2px 4px rgb(255, 255, 255, 1); */
  /* background: rgb(70, 137, 219); */
}
.fill:active {
  /* background: rgb(36, 115, 213); */
  /* background: rgb(70, 137, 219); */
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.light {  
  padding: 10px 30px;
  color: rgb(36, 115, 213);
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(36, 115, 213, 1);
  /* box-shadow: -2px -2px 8px rgba(36, 115, 213, 1),
    -2px -2px 12px rgba(36, 115, 213, 0.5),
    inset 2px 2px 4px rgba(36, 115, 213, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15); */
}
.light:active {
  box-shadow: inset 1px 1px 4px rgba(36, 115, 213, 1) !important;
  /* box-shadow: inset -2px -2px 8px rgba(36, 115, 213, 1),
    inset -2px -2px 12px rgba(36, 115, 213, 0.5),
    inset 2px 2px 4px rgba(36, 115, 213, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15); */
}
.light:hover {
  box-shadow: 1px 1px 6px rgba(36, 115, 213, 1);
  /* box-shadow: inset -2px -2px 8px rgba(36, 115, 213, 1),
    inset -2px -2px 12px rgba(36, 115, 213, 0.5),
    inset 2px 2px 4px rgba(36, 115, 213, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, 0.15); */
}
a:active span {
  display: inline-block;
  transform: scale(0.98);
}